*.iml
.kotlin
.gradle
.claude
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
*.aab
/screenshotTests/src/test/snapshots/images/
fastlane/play-store-key.json
fastlane/report.xml
fastlane/README.md